In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/productdemandforecasting/Historical Product Demand.csv

In [2]:
#Import Libraries
import pandas as pd
import numpy as np
import seaborn as sb

import matplotlib.pyplot as plt
%matplotlib inline

from scipy.stats import norm, skew #for some statistics
from scipy import stats #qqplot
import statsmodels.api as sm #for decomposing the trends, seasonality etc.

from statsmodels.tsa.statespace.sarimax import SARIMAX

In [3]:
df  = pd.read_csv('../input/productdemandforecasting/Historical Product Demand.csv', parse_dates=['Date'])

In [4]:
df.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028 2012-07-27         100
1  Product_0979    Whse_J     Category_028 2012-01-19         500
2  Product_0979    Whse_J     Category_028 2012-02-03         500
3  Product_0979    Whse_J     Category_028 2012-02-09         500
4  Product_0979    Whse_J     Category_028 2012-03-02         500

In [5]:
df.shape

(1048575, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1048575 non-null  object
 1   Warehouse         1048575 non-null  object
 2   Product_Category  1048575 non-null  object
 3   Date              1037336 non-null  datetime64[ns]
 4   Order_Demand      1048575 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 40.0+ MB

In [8]:
df.dtypes

Product_Code                object
Warehouse                   object
Product_Category            object
Date                datetime64[ns]
Order_Demand                object
dtype: object

In [9]:
# Check any number of columns with NaN
print(df.isnull().any().sum(), ' / ', len(df.columns))
# Check any number of data points with NaN
print(df.isnull().any(axis=1).sum(), ' / ', len(df))

1  /  5
11239  /  1048575

In [10]:
#Lets check where these nulls are.
print (df.isna().sum())
print ('Null to Dataset Ratio in Dates: ',df.isnull().sum()[3]/df.shape[0]*100)

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
dtype: int64
Null to Dataset Ratio in Dates:  1.0718355863910547

In [11]:
#There are missing values in Date
#Since the number of missing values are about 1%, I am taking an 'executive decision' of removing them. ;) 
df.dropna(axis=0, inplace=True) #remove all rows with na's.
df.reset_index(drop=True)
df.sort_values('Date')[10:20] #Some of the values have () in them.

        Product_Code Warehouse Product_Category       Date Order_Demand
75193   Product_0642    Whse_C     Category_019 2011-10-31           3
121820  Product_0202    Whse_A     Category_007 2011-11-04        (100)
121819  Product_0202    Whse_A     Category_007 2011-11-04        (400)
131028  Product_2143    Whse_S     Category_009 2011-11-18         (25)
131031  Product_0131    Whse_S     Category_021 2011-11-18         (12)
131032  Product_0288    Whse_S     Category_021 2011-11-18         (50)
44450   Product_0980    Whse_A     Category_028 2011-11-18        4000
131027  Product_2138    Whse_S     Category_009 2011-11-18         (49)
131026  Product_2137    Whse_S     Category_009 2011-11-18         (25)
44795   Product_0965    Whse_A     Category_006 2011-11-18           1